.brand-navbar {
  color: black;
}

.custom-container,
.custom-navbar {
  margin: 0 20px;
  max-width: none !important;
}
.container-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  background-color: #9cba7f;
  z-index: 100;
}
/* .container-navbar,
.visible {
} */
