/* Footer.css */
.footer {
  background-color: #f4f1e1;
  color: #333;
  padding: 40px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left,
.footer-right {
  width: 45%;
  padding: 10px;
}

.footer-left {
  text-align: left;
}

.social-links a {
  color: #8b7e6b;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  color: #4e4026;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: #8b7e6b;
  text-decoration: none;
}

.footer-links a:hover {
  color: #4e4026;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-contact a {
  color: #8b7e6b;
  text-decoration: none;
}

.footer-contact a:hover {
  color: #4e4026;
}
