/* Footer.css */
.footer {
  background-color: #9cba7f;
  color: #333;
  padding: 12px;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left,
.footer-right {
  padding: 0 15px;
}

.footer-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-text p {
  margin: 0;
}

.footer-left {
  text-align: left;
}

.social-links {
  display: flex;
  height: 100%;
  align-items: center;
}

.social-links a {
  color: #8b7e6b;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  height: fit-content;
}

.social-links a:hover {
  color: #4e4026;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: #8b7e6b;
  text-decoration: none;
}

.footer-links a:hover {
  color: #4e4026;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-contact a {
  color: #8b7e6b;
  text-decoration: none;
}

.footer-contact a:hover {
  color: #4e4026;
}
.contact-button {
  background-color: #9cba7f;
  border: none;
}
