.container-homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
  gap: 12px;
}
.left-container {
  width: 50%;
}

.right-container {
  width: 50%;
}

.container-text-style {
  font-size: 2rem;
  margin-bottom: 10px;
}

.text-style {
  background-image: linear-gradient(to left, #9cba7f, #4c9141);
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.about-me-img {
  margin: 20px 0;
}

.profile-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #388e3c;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.description-about-me {
  margin-top: 20px;
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}
@media screen and (max-width: 800px) {
  .container-homePage {
    flex-direction: column;
  }
  .left-container {
    width: 100%;
  }
  .right-container {
    width: 100%;
  }
}
