.background {
  position: relative;
  overflow: hidden;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.bottom-cut {
  position: absolute;
  bottom: calc(5.23vw + -44px);
  height: calc(100vw * sin(3deg));
  width: 150%;
  transform: rotate(-3deg);
  left: -80px;
}
